html {
  width: 100%;
}

body {
  background: rgba(0, 0, 0, 0.05);
}

#root {
  width: 100%;
}

main {
  width: 100%;
}

#cards-container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}

#card {
  align-self: auto;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.mainImg {
  width: 50%;
}

.link {
  color: #2b333f;
  text-decoration: none;
}

.menu {
  justify-content: left !important;
  width: 50px;
}

.delete-icon {
  vertical-align: bottom;
  padding-left: 10px;
}

.inputFile {
  display: none;
}

.document-container {
  width: 100% !important;
  padding: 0 !important;
}

.viewer {
  max-height: 250px !important;
  overflow: hidden;
}

.paperCenter {
  width: 92%;
  margin: 20px auto;
  padding: 15px;
}

.attachment {
  width: 100%;
  margin: 20px auto;
  padding: 15px;
}

.MuiExpansionPanelDetails-root-123,
.jss123 {
  display: block !important;
}

/* document viewer */
.pg-viewer-wrapper {
  overflow-y: initial;
}
