html {
  width: 100%;
}

body {
  background: rgba(0, 0, 0, 0.05);
}

#root {
  width: 100%;
}

#cards-container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}

.paperCenter {
  margin: 5px;
}

/* #card {
  align-self: auto;
  margin-top: 10px;
} */

.attachment {
  /* width: 300px; */
  /* margin: 20px auto;
  padding: 15px; */
}

.App-link {
  color: #61dafb;
}

/* .mainImg {
  width: 50%;
} */

.link {
  color: #2b333f;
  text-decoration: none;
}

.menu {
  justify-content: left !important;
  width: 50px;
  margin-left: 20px;
}

.delete-icon {
  vertical-align: bottom;
  padding-left: 10px;
}

.inputFile {
  display: none;
}

.document-container {
  width: 100% !important;
  padding: 0 !important;
}

/* .viewer {
  max-height: 250px !important;
  overflow: hidden;
} */

.MuiList-root {
  width: 100%;
}

/* document viewer */
.pg-viewer-wrapper {
  overflow: hidden !important;
}

@media screen and (min-width: 600px) {
  .MuiFormControl-marginNormal {
    margin: 0 0 0 60px !important;
  }
}
